<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include("../../../partials/head") %>
    <link href="/css/calendar/style.css" rel="stylesheet">
    <title>Kalendarz</title>
</head>
<body>
    <%- include("../../../partials/header") %>

    <main>
        <h1>Witamy na stronie kalendarza</h1>
        <div id="calendar-head-wrapper">
            <a href="/calendar?month=<%= previousDate.month() %>&year=<%= previousDate.year() %>">Poprzedni miesiąc</a>
            <h2 id="date"><%= currentDate.format('MM-YYYY') %></h2>
            <a href="/calendar?month=<%= nextDate.month() %>&year=<%= nextDate.year() %>">Następny miesiąc</a>
        </div>
        <div id="calendar">

        </div>
    </main>

    <%- include("../../../partials/footer") %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="/js/calendar/drawCalendar.js"></script>
</body>
</html>